.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}
.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.gretting-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}

.welcome-main {
  display: flex;
}

.welcome-main > * {
  flex: 1;
  margin-bottom: 30px;
}
.button-welcome-div {
  display: flex;
  margin-top: 20px;
}

.welcome-text {
  margin-top: 80px;
  font-size: 70px;
  line-height: 1.1;
  font-family: "Google Sans Bold";
}

.welcome-text-p {
  font-size: 40px;
  line-height: 40px;
  margin-right: 40px;
  font-family: "Google Sans Medium";
}

.welcome-image-div > * {
  max-width: 100%;
  height: auto;
  text-align: center;
}

.welcome-image-div {
  text-align: center;
}

/* Media Query */
@media (max-width: 1380px) {
  .welcome-text {
    font-size: 50px;
  }
  .welcome-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .button-welcome-div {
    justify-content: space-around;
  }
  .welcome-text {
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
  }
  .welcome-subtitle {
    font-size: 15px;
    text-align: center;
    line-height: 0px;
    font-style: italic;
    font-family: "Google Sans Bold Italic";
  }
  .welcome-text-p {
    font-size: 16px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
  .welcome-main {
    display: block;
  }

  .portfolio-repo-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
